<form class="row">
  <div class="form-group col">
    <label for="year-selector">Wähle Jahr aus</label>
    <select class="form-control"
            id="year-selector"
            [value]="currentYear"
            (change)="yearChanged.emit($event.target['value'])">
      <option *ngFor="let year of years">{{year}}</option>
    </select>
  </div>
  <div class="form-group col">
    <label for="month-selector">Wähle Monat aus</label>
    <select class="form-control"
            id="month-selector"
            [value]="currentMonth"
            (change)="monthChanged.emit($event.target['value'])">
      <option *ngFor="let month of months; index as i" value="{{i}}">{{month}}</option>
    </select>
  </div>
</form>
