<!-- TODO: Add ng specific directives/validation settings and add styling -->

<div style=" height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
">

  <mat-card class="example-card">

    <mat-card-title>
      <span>Register</span>
    </mat-card-title>

    <mat-card-content>

      <form (ngSubmit)="doRegister(null)">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput pattern=".{2,}" placeholder="First name" type="text" name="firstname" required>
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput pattern=".{2,}" placeholder="Last name" type="text" name="lastname" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput pattern=".{3,}" placeholder="User" type="text" name="login" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput pattern=".{3,}" placeholder="Password" type="password" name="password" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput pattern=".{3,}" placeholder="Password" type="password" name="passwordConfirm" required>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary">Register</button> <a href="/welcome" class="md-accent" style="float:right;">Login</a>
        </mat-card-actions>
      </form>
    </mat-card-content>


  </mat-card>

</div>
