<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span>Online-Banking</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <div class="navbar-nav" *ngIf="!autSvc.hasCredentials">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a type="button" routerLink="/">Home</a></span>
      </button>
    </div>
    <div class="navbar-nav" *ngIf="!autSvc.hasCredentials">
      <button mat-menu-item>
        <mat-icon>transform</mat-icon>
        <span><a type="button" routerLink="/signup">Register</a></span>
      </button>
    </div>
    <div class="navbar-nav" *ngIf="autSvc.hasCredentials">
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span><a type="button" routerLink="/dashboard">Dashboard</a></span>
      </button>
    </div>
    <div class="navbar-nav" *ngIf="autSvc.hasCredentials">
      <button mat-menu-item>
        <mat-icon>transform</mat-icon>
        <span><a type="button" routerLink="/transactions">Transactions</a></span>
      </button>
    </div>
    <div class="navbar-nav" *ngIf="autSvc.hasCredentials">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <wed-logout></wed-logout>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
